<div class="center jumbotron" style="background-image:url('<%= asset_path('shopping-bags1.jpg') %>'); height: 800px; width: 1150px">

 <% unless current_user.nil? %>
 <h7>Admin page</h7>
 <p>Click on selling to get the Updates</p>

 <%else%>

 <body style= background-color: transparent">
<h7> Welcome all of you</h7><br><br><br>

<p>This is the home page of our application </p><br>
<%= link_to "Sign up now!",new_user_registration_path , class: "btn btn-lg btn-primary" %>
</body> 
 <%end%>        
</div>	

            