<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container" >
<h1>Your Cart Items</h1>
 <% @k=current_user.ipurchases %>


  <table class="table table-hover" style="width:100%">
    <thead>
      <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Remove Item</th>
      </tr>
    </thead>
    <tbody>
    <% @k.each do |t| %>
      <tr>
        <td><%= t.name%></td>
        <td><%= t.price%></td>
        <td> <%= link_to  "Remove",ipurchase_path(id: t),method: :delete,class: "btn btn-default" %> 
        </td>
      </tr>
      <%end %>
    </tbody>
  </table>

</div>

