<div class="container" >
  <h1>All Products</h1>

  <table class="table table-dark" style="width:100%">
    <thead class="thead-dark">
      <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |myitem| %>
      <tr>
        <td><%= myitem.name%></td>

        <td><%= myitem.price%></td>

        
        <td> <%= link_to "Buy Item",buitem_index_path(id: myitem), method: :post,class: "btn btn-default"%> | <%= link_to "Cart Item",ipurchase_index_path(id: myitem), method: :post ,class: "btn btn-default" %> </td>
         <td>
         <img src="<%= asset_path('bottle.png') %>" class="img-rounded" width="220" height="220"> </td>
      </tr>
    <%end %>
    </tbody>
  </table>
      <%= paginate @items %>
</div>

