<h1>YOUR CART ITEMS</h1>
<ul class="Myitem">
   <% @items.each do |myitem| %>
     <li>
      <%= myitem.name%>
      <%= myitem.price%>
     </li> 
     <%= link_to "BUY ITEM"%>
      <%= link_to "Add to cart", :controller => "alls", :action => "show", :myitem => myitem.id %>  
       <%end %>
</ul>