<div class="container" >

<h1>Your New Item Added</h1>
 <% @what=current_user.nitems %>

  <table class="table table-hover" style="width:100%">
    <thead>
      <tr>
      <th>Name</th>
      <th>Price</th>
      </tr>
    </thead>
    <tbody>
   <% @what.each do |myitem| %>
      <tr>
        <td><%= myitem.name%></td>
        <td><%= myitem.price%></td>
         <td>
         <img src="<%= asset_path('bottle.png') %>" class="img-rounded" width="220" height="220"> </td>
      </tr>
    <%end %>
    </tbody>
  </table>
</div>

