<div class="container" >
<h1>Your New Item Added</h1>

 <% @not=current_user.nitems %>

  <table class="table table-hover" style="width:100%">
    <thead>
      <tr>
      <th>Name</th>
      <th>Price</th>
      </tr>
    </thead>
    <tbody>
   <% @not.each do |myitem| %>
      <tr>
        <td><%= myitem.name%></td>

        <td><%= myitem.price%></td>
      </tr>
    <%end %>
    </tbody>
  </table>
</div>

