
<h1>You Can Add Item Here</h1>
<% @k=Nitem.create %>

<%= form_for(@k) do |f| %>
 <label for="fname">Name of Product:</label>

  <div class="field" style="width: 200px">
    <%= f.text_area :name, placeholder: "Compose new product name..." %>
  </div><br>


  <label for="fname">Price of Product:</label>

  <div class="field" style="width: 200px">
    <%= f.text_area :price, placeholder: "Compose new product price..." %>
  </div><br>

<%= f.submit "Post", class: "btn btn-primary item_submit"   %>
  
<% end %>
