<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container" >
<% if current_user.has_role? :admin %>

    <h1>Our Selling Till Now </h1>

  <table class="table table-hover" style="width:100%">
    <thead>
      <tr>
      <th>Name</th>
      <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @buyed.each do |t| %>
      <tr>
        <td><%= t.name%></td>
        <td><%= t.price%></td>
      </tr>
    <%end %>
    </tbody>
  </table>
<%else%>
      <h1>Your Buied Items</h1>
   <% @k=current_user.buitems %>
<table class="table table-hover" style="width:100%">
    <thead>
      <tr>
      <th>Name</th>
      <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @k.each do |t| %>
      <tr>
        <td><%= t.name%></td>
        <td><%= t.price%></td>
      </tr>
    <%end %>
    </tbody>
  </table>
<% end %>
</div>



