
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h7>Log in</h7><br><br>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field" >
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox" style="margin-right: 300px">
            <%= f.check_box :remember_me %><b>Remember me</b>
            <%#= f.label :remember_me%>
          </div>
        <% end %>
        <div class="action">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

   