@import "bootstrap-sprockets";
@import "bootstrap";


.table {
  padding-left: 100px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1, h2, h3, h4, h5, h6 ,h7{
  line-height: 1;
}

h7{ 
  font-size: 5em;
  letter-spacing: -2px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

h1{ 
  font-size: 4em;
  letter-spacing: -2px;
  margin-top: 20px;
  text-align: center;
  background-color: pink
}




h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
   text-align: center;

  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 3px solid #lll;
  width: 120%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}


.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 100px;
    font-weight: bold;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 20px;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  padding-top: 200px;
  color: #555;
}

footer a:hover {
  padding-top: 200px;

  color: #333;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  }


  .item_submit{
  width: 230px;
  }