<li id="myproduct-<%= myproduct.id %>">
  <span class="user"><%= link_to myproduct.user.name, myproduct.user %></span>
  <span class="name"><%= myproduct.name %></span>
  <span class="price"><%= myproduct.price %></span>
</li>