<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
         <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
         </li>

        <% else %>
          <li>
            <%= link_to('LOGIN', new_user_session_path)  %>  
          </li>
        <% end %>
        <% unless current_user.nil? %>
          <% if current_user.has_role? :admin %>
            <li>
              <%= link_to('SELLING',buitem_index_path) %> 
           </li>
          <% else %>
            <li> <%= link_to('All Product',  alls_path )  %>  </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              New Product <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
             <li> <%= link_to('Add Items', nitems_path )  %>  </li>
             <li> <%= link_to('Your Added Items',add_item_path) %></li>
            </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Items <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li><%= link_to('My Cart',ipurchase_index_path)  %></li>
             <li> <%= link_to('Purchased',buitem_index_path)  %>  </li>
             
            </ul>
          </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
