<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="background-image:url('<%= asset_path('text.jpg') %>')">
  	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>